# Injuries in Collision Prediction

In [1]:
import warnings
import pandas as pd
import sklearn
warnings.filterwarnings('ignore')

## Read data
+ run the collision_model_features.py file to get three data sets.
    + new_collisions
    + traffic_byhour
    + traffic_bydayofweek
+ read the three table to this notebook

In [2]:
path = '../matched_data/crash_matched_data'
collisions = pd.read_csv(
    path + '/new_collisions.csv')
traffic_byhour = pd.read_csv(
    path + '/traffic_byhour.csv')
traffic_bydayofweek = pd.read_csv(
    path + '/traffic_bydayofweek.csv')
print(collisions.columns)
print(traffic_byhour.columns)
print(traffic_bydayofweek.columns)

Index(['Unnamed: 0', 'collision_id', 'CRASH DATE', 'CRASH TIME', 'BOROUGH',
       'ZIP CODE', 'LATITUDE', 'LONGITUDE', 'LOCATION', 'ON STREET NAME',
       'CROSS STREET NAME', 'OFF STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
       'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5',
       'coords', 'index_right', 'Roadway.Name', 'From', 'To', 'int1', 'int2',
       'zip1', 'zip2', 'll1', 'll2', 'streetID', 'lat1', 'long1', 'lat2',
       'long2', 'dayofweek', 'time', 'speed_bumps', 'speed_limits',
       'bike_lanes'],
      dtype='object')
Index(['Unnamed: 0', 'streetID', 'time', 'meanHour', 'stdHour', 'medianHour',
       'minHour', 'maxHour', 'rangeHour'],
      dtype='object')
Index(['Unnamed: 0', 'streetID', 'dayofweek', 'meanWeek', 'stdWeek',
       'medianWeek', 'minWeek', 'maxWeek', 'rangeWeek'],
      dtype='object')

In [3]:
# merge collisions dataset and two traffic datasets
# there may be missing values after joining, because only limited traffic volumes were only recorded on limited days
pd.merge(left=collisions, right=traffic_bydayofweek, how='left', on='dayofweek')

,Unnamed: 0_x,collision_id,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,...,speed_limits,bike_lanes,Unnamed: 0_y,streetID_y,meanWeek,stdWeek,medianWeek,minWeek,maxWeek,rangeWeek
0,0,22,2021-12-13,6:30,QUEENS,11372.0,40.753730,-73.88505,"(40.75373, -73.88505)",82 STREET,...,1.0,1.0,0,0,888.875000,436.424137,965.5,206.0,1537.0,1331.0
1,0,22,2021-12-13,6:30,QUEENS,11372.0,40.753730,-73.88505,"(40.75373, -73.88505)",82 STREET,...,1.0,1.0,7,1,1044.625000,528.274534,1166.0,244.0,1825.0,1581.0
2,0,22,2021-12-13,6:30,QUEENS,11372.0,40.753730,-73.88505,"(40.75373, -73.88505)",82 STREET,...,1.0,1.0,14,2,885.875000,482.539851,678.0,173.0,1687.0,1514.0
3,0,22,2021-12-13,6:30,QUEENS,11372.0,40.753730,-73.88505,"(40.75373, -73.88505)",82 STREET,...,1.0,1.0,21,3,1125.625000,466.242502,1245.0,255.0,1695.0,1440.0
4,0,22,2021-12-13,6:30,QUEENS,11372.0,40.753730,-73.88505,"(40.75373, -73.88505)",82 STREET,...,1.0,1.0,28,4,773.833333,367.216924,874.5,134.0,1270.0,1136.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498655,620,185,2022-03-26,12:00,QUEENS,11377.0,40.747498,-73.91309,"(40.747498, -73.91309)",NaN,...,1.0,1.0,5858,2431,284.291667,200.467177,291.5,0.0,710.0,710.0
498656,620,185,2022-03-26,12:00,QUEENS,11377.0,40.747498,-73.91309,"(40.747498, -73.91309)",NaN,...,1.0,1.0,5865,2434,329.187500,143.942555,364.0,51.0,588.0,537.0
498657,620,185,2022-03-26,12:00,QUEENS,11377.0,40.747498,-73.91309,"(40.747498, -73.91309)",NaN,...,1.0,1.0,5871,2440,194.437500,111.327943,194.0,23.0,386.0,363.0
498658,620,185,2022-03-26,12:00,QUEENS,11377.0,40.747498,-73.91309,"(40.747498, -73.91309)",NaN,...,1.0,1.0,5878,2441,282.406250,170.309475,276.5,47.0,649.0,602.0
498659,620,185,2022-03-26,12:00,QUEENS,11377.0,40.747498,-73.91309,"(40.747498, -73.91309)",NaN,...,1.0,1.0,5885,2442,226.697917,129.467421,220.5,18.0,442.0,424.0

In [4]:
pd.merge(left=collisions, right=traffic_byhour, how='left', on='time')

,Unnamed: 0_x,collision_id,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,...,speed_limits,bike_lanes,Unnamed: 0_y,streetID_y,meanHour,stdHour,medianHour,minHour,maxHour,rangeHour
0,0,22,2021-12-13,6:30,QUEENS,11372.0,40.753730,-73.88505,"(40.75373, -73.88505)",82 STREET,...,1.0,1.0,6,0,658.375000,225.223659,766.0,341.0,874.0,533.0
1,0,22,2021-12-13,6:30,QUEENS,11372.0,40.753730,-73.88505,"(40.75373, -73.88505)",82 STREET,...,1.0,1.0,30,1,661.750000,223.816092,769.0,318.0,895.0,577.0
2,0,22,2021-12-13,6:30,QUEENS,11372.0,40.753730,-73.88505,"(40.75373, -73.88505)",82 STREET,...,1.0,1.0,54,2,704.823529,330.517631,488.0,307.0,1146.0,839.0
3,0,22,2021-12-13,6:30,QUEENS,11372.0,40.753730,-73.88505,"(40.75373, -73.88505)",82 STREET,...,1.0,1.0,78,3,848.750000,187.659075,946.5,551.0,996.0,445.0
4,0,22,2021-12-13,6:30,QUEENS,11372.0,40.753730,-73.88505,"(40.75373, -73.88505)",82 STREET,...,1.0,1.0,102,4,723.090909,263.870974,873.0,322.0,1042.0,720.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
573799,620,185,2022-03-26,12:00,QUEENS,11377.0,40.747498,-73.91309,"(40.747498, -73.91309)",NaN,...,1.0,1.0,22068,2431,478.178571,76.178666,480.0,309.0,613.0,304.0
573800,620,185,2022-03-26,12:00,QUEENS,11377.0,40.747498,-73.91309,"(40.747498, -73.91309)",NaN,...,1.0,1.0,22092,2434,522.150000,102.292807,547.0,369.0,691.0,322.0
573801,620,185,2022-03-26,12:00,QUEENS,11377.0,40.747498,-73.91309,"(40.747498, -73.91309)",NaN,...,1.0,1.0,22116,2440,296.500000,40.461916,287.5,244.0,362.0,118.0
573802,620,185,2022-03-26,12:00,QUEENS,11377.0,40.747498,-73.91309,"(40.747498, -73.91309)",NaN,...,1.0,1.0,22140,2441,472.550000,138.723305,449.5,227.0,667.0,440.0
573803,620,185,2022-03-26,12:00,QUEENS,11377.0,40.747498,-73.91309,"(40.747498, -73.91309)",NaN,...,1.0,1.0,22164,2442,329.000000,52.459508,345.5,230.0,395.0,165.0