# Injuries in Collision Prediction

In [1]:
import pandas as pd
import sklearn

In [5]:
collisions = pd.read_csv('../matched_data/crash_matched_data/collisions_matched.tsv', sep = '\t')
sl = pd.read_csv('./crash_matched_data/speed_limits_matched.csv')
# traffic_byhour and traffic_bydayofweek can be gotten from abstract_street_analysis.ipynb
traffic_byhour = pd.read_csv('../matched_data/crash_matched_data/traffic_byhour.csv')
traffic_bydayofweek = pd.read_csv('../matched_data/crash_matched_data/traffic_bydayofweek.csv')

# filter out false LATITUDE and LONGITUDE 
criterion1 = (collisions['LATITUDE'] > 38) & (collisions['LATITUDE'] < 42) & (collisions['LONGITUDE'] < -72) & (collisions['LONGITUDE'] > -76)
# filter entries with matched streetID
criterion2 = collisions['streetID'].notnull()
collisions = collisions[criterion1 & criterion2]
# add two columns days of week and hour
collisions['CRASH DATE'] = pd.to_datetime(collisions['CRASH DATE'])
collisions['dayofweek'] = collisions['CRASH DATE'].dt.dayofweek # Monday=0, Sunday=6.
collisions['time'] = pd.to_datetime(collisions['CRASH TIME']).dt.hour # int64
# merge collisions with traffic_byhour and traffic_bydayofweek
collisions = pd.merge(left=collisions, right=traffic_byhour, how='left', on=['streetID', 'time'])
collisions = pd.merge(left=collisions, right=traffic_bydayofweek, how='left', on=['streetID', 'dayofweek'])

/var/folders/44/72pmvlr52d96w04q3bmj_jxr0000gn/T/ipykernel_51501/3097069632.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  collisions = pd.read_csv('../matched_data/crash_matched_data/collisions_matched.tsv', sep = '\t')

Index(['collision_id', 'CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE',
       'LATITUDE', 'LONGITUDE', 'LOCATION', 'ON STREET NAME',
       'CROSS STREET NAME', 'OFF STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
       'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5',
       'coords', 'index_right', 'Roadway.Name', 'From', 'To', 'int1', 'int2',
       'zip1', 'zip2', 'll1', 'll2', 'streetID', 'lat1', 'long1', 'lat2',
       'long2', 'dayofweek', 'time'],
      dtype='object')

,collision_id,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,...,zip2,ll1,ll2,streetID,lat1,long1,lat2,long2,dayofweek,time
16,22,2021-12-13,6:30,QUEENS,11372.0,40.753730,-73.885050,"(40.75373, -73.88505)",82 STREET,34 AVENUE,...,11372.0,"40.755620,-73.885380","40.753699,-73.885026",357.0,40.755620,-73.885380,40.753699,-73.885026,0,6
17,22,2021-12-13,6:30,QUEENS,11372.0,40.753730,-73.885050,"(40.75373, -73.88505)",82 STREET,34 AVENUE,...,11372.0,"40.755620,-73.885380","40.753699,-73.885026",358.0,40.755620,-73.885380,40.753699,-73.885026,0,6
23,28,2021-12-14,17:15,BROOKLYN,11211.0,40.710957,-73.951126,"(40.710957, -73.951126)",GRAND STREET,UNION AVENUE,...,11211.0,"40.710968,-73.951115","40.711175,-73.948909",1298.0,40.710968,-73.951115,40.711175,-73.948909,1,17
28,39,2021-07-09,0:43,NaN,NaN,40.720535,-73.888850,"(40.720535, -73.88885)",ELIOT AVENUE,NaN,...,11379.0,"40.720162,-73.889666","40.720531,-73.888847",1119.0,40.720162,-73.889666,40.720531,-73.888847,4,0
30,41,2022-04-24,4:49,NaN,NaN,40.855972,-73.869896,"(40.855972, -73.869896)",BOSTON ROAD,BRONX PARK EAST,...,10467.0,"40.855815,-73.869924","40.857248,-73.868940",626.0,40.855815,-73.869924,40.857248,-73.868940,6,4

In [ ]:
print(collisions.columns)
collisions.head()